@import "../../global.scss";

.testimonials {
  background-color: $bannerColor;

  overflow: hidden;
  @include mobile{
    justify-content: space-around;
  }


  h1 {
    font-size: 50px;
    text-align: center;
    color: $secondaryColor;

    @include mobile{
      display: none;
    }
  }
  




    
      }
  